html {
  --dark-black: #222222;
  --light-black: #333333;
  --off-white: #efefef;
}

body {
  margin: 0;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--light-black);
  color: var(--off-white);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  height: 100px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 48px;
}

h2 {
  margin: 0;
  font-weight: lighter;
}

.content {
  display: flex;
  padding-top: 100px;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 50px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  /* padding: 50px; */
}

.input-controls {
  padding: 12px 0px;
}

h2 {
  font-size: 42px;
}

.board-container {
  padding: 0 50px;
}

.board {
  display: grid;
  grid-template-rows: 150px 150px 150px;
  grid-template-columns: 150px 150px 150px;
}

.board > * {
  border: 2px solid var(--off-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
